{%extends 'base.html'%}
{%block content%}
<main class="content">
    <div class="row">
        <div class="col-md-5 offset-md-4 mt-5">
            <h1 class="text-center display-3 py-5">Tasks Completed</h1>
                {%for task in tasks%}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <header class="d-flex justify-content-between">
                                {%if task.important %}    
                                <h1 class="fw-bold text-success">{{task.title}}</h1>
                                {%else%}
                                <h1 class="fw-bold">{{task.title}}</h1>
                                {%endif%}
                                <p>{{task.datecompleted|date:'M j Y H:i:s'}}</p>
                            </header>
                            <p>{{task.description}}</p>
                        </li>    
                    </ul>
                {%endfor%}    
        </div>
    </div>
</main>
{%endblock%}